.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.tourInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.homeContainer > div:last-child {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}